In [2]:
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import numpy as np

# Elaboracion de archivos para la API

Se crearon los DataFrames con la informacion justa para la implementacion de cada funcion requerida. Para cada funcion se determinaron variables criticas (ej. el parametro de entrada) que de ser nulas el registro correspondiente no tendria la iformacion minima para ser incluido en el analisis. De acuerdo con esto, se decidio eliminar estos registros.

## Cargar tablas

In [3]:
games=pd.read_parquet("Archivos EDA/games_eda.parquet")

In [4]:
items=pd.read_parquet("Archivos EDA/items_eda.parquet")

In [5]:
reviews=pd.read_parquet("Archivos EDA/reviews_eda.parquet")

In [6]:
games

,genres,item_name,tags,specs,price,early_access,item_id,developer,release_year
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",[Single-player],4.99,0.0,761140.0,Kotoshiro,2018.0
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...","[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,2018.0
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,"[Free to Play, Simulation, Sports, Casual, Ind...","[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,2017.0
88313,"[Action, Adventure, Casual]",弹炸人2222,"[Action, Adventure, Casual]",[Single-player],0.99,0.0,767400.0,彼岸领域,2017.0
88314,None,Log Challenge,"[Action, Indie, Casual, Sports]","[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,NaN
...,...,...,...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,"[Strategy, Indie, Casual, Simulation]","[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS""",2018.0
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,"[Strategy, Indie, Casual]","[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada,2018.0
120442,"[Indie, Racing, Simulation]",Russian Roads,"[Indie, Simulation, Racing]","[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich,2018.0
120443,"[Casual, Indie]",EXIT 2 - Directions,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...","[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns",2017.0
120444,None,Maze Run VR,"[Early Access, Adventure, Indie, Action, Simul...","[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,NaN

In [7]:
items

                   user_id   item_id                      item_name  playtime
0        76561197970982479      10.0                 Counter-Strike  0.100000
1        76561197970982479      20.0          Team Fortress Classic  0.000000
2        76561197970982479      30.0                  Day of Defeat  0.116667
3        76561197970982479      40.0             Deathmatch Classic  0.000000
4        76561197970982479      50.0      Half-Life: Opposing Force  0.000000
...                    ...       ...                            ...       ...
5170009  76561198329548331  346330.0                   BrainBread 2  0.000000
5170010  76561198329548331  373330.0                    All Is Dust  0.000000
5170011  76561198329548331  388490.0  One Way To Die: Steam Edition  0.050000
5170012  76561198329548331  521570.0          You Have 10 Seconds 2  0.066667
5170013  76561198329548331  519140.0                     Minds Eyes  0.050000

[5073726 rows x 4 columns]

In [8]:
reviews

,user_id,item_id,recommend,item_name,sentiment_analysis,words,word_count
0,76561197970982479,1250.0,True,Killing Floor,1,"[simple, yet, great, replayability, opinion, z...",44
1,76561197970982479,22200.0,True,Zeno Clash,1,"[unique, worth, playthrough]",7
2,76561197970982479,43110.0,True,Metro 2033,2,"[great, atmosphere, gunplay, bit, chunky, time...",40
3,js41637,251610.0,True,Barbie™ Dreamhouse Party™,1,"[know, think, see, title, barbie, dreamhouse, ...",112
4,js41637,227300.0,True,Euro Truck Simulator 2,1,"[simple, actually, not, simple, truck, driving...",117
...,...,...,...,...,...,...,...
58426,76561198312638244,70.0,True,Half-Life,1,"[must, classic, steam, definitely, worth, buying]",9
58427,76561198312638244,362890.0,True,Black Mesa,1,"[game, perfect, remake, original, half, life, ...",92
58428,LydiaMorley,273110.0,True,Counter-Strike Nexon: Zombies,1,"[much, fun, plaing, collecting, resources, xd,...",20
58429,LydiaMorley,730.0,True,Counter-Strike: Global Offensive,2,[],1
58430,LydiaMorley,440.0,True,None,2,"[much, fun]",4

## Creacion de archivos

### def developer( desarrollador : str )

Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. <br><br>
Ejemplo de retorno: <br>
| Año   | Cantidad de items | Contenido Free |
| ----- | ----------------- | -------------- |
| 2023  | 50                | 27%            |
| 2022  | 45                | 25%            |
<br>

Columnas necesarias:
- developer (games)
- release_year (games)
- price (games)
- item_id (games)

In [9]:
def_developer = games[['developer','item_id','release_year','price']]
def_developer.drop(def_developer[def_developer['developer'].isnull()].index,inplace=True)
def_developer

C:\Users\Carolina\AppData\Local\Temp\ipykernel_55196\893622525.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_developer.drop(def_developer[def_developer['developer'].isnull()].index,inplace=True)

                       developer   item_id  release_year  price
88310                  Kotoshiro  761140.0        2018.0   4.99
88311           Secret Level SRL  643980.0        2018.0   0.00
88312               Poolians.com  670290.0        2017.0   0.00
88313                       彼岸领域  767400.0        2017.0   0.99
88315        Trickjump Games Ltd  772540.0        2018.0   3.99
...                          ...       ...           ...    ...
120439           Bidoniera Games  745400.0        2018.0   1.99
120440        Nikita "Ghost_RUS"  773640.0        2018.0   1.99
120441                    Sacada  733530.0        2018.0   4.99
120442  Laush Dmitriy Sergeevich  610660.0        2018.0   1.99
120443             xropi,stev3ns  658870.0        2017.0   4.99

[28834 rows x 4 columns]

In [10]:
def_developer.isnull().sum()

developer          0
item_id            0
release_year     122
price           1235
dtype: int64

### def userdata( User_id : str )

Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items. <br><br>
Ejemplo de retorno: <br>
{"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}
<br><br>
Columnas necesarias:
- user_id (reviews)
- recommend (reviews)
- item_id (reviews, games)
- price (games)

In [11]:
def_userdata = reviews[['user_id','item_id','recommend']]
def_userdata = def_userdata.merge(games[['item_id','price']],on='item_id')
def_userdata

                 user_id   item_id  recommend  price
0      76561197970982479    1250.0       True  19.99
1      76561197970982479   22200.0       True   9.99
2                js41637  227300.0       True  19.99
3                js41637  239030.0       True   9.99
4              evcentric  248820.0       True   9.99
...                  ...       ...        ...    ...
53192  76561198312638244      70.0       True   9.99
53193  76561198312638244  362890.0       True  19.99
53194        LydiaMorley  273110.0       True   0.00
53195        LydiaMorley     730.0       True  14.99
53196        LydiaMorley     440.0       True   0.00

[53197 rows x 4 columns]

In [12]:
def_userdata.isnull().sum()

user_id        0
item_id        0
recommend      0
price        686
dtype: int64

### def UserForGenre( genero : str )

Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento. <br><br>
Ejemplo de retorno:<br>
{"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}
<br><br>
Columnas necesarias:
- user_id (items)
- playtime (items)
- item_id (items, games)
- genres (games)
- release_year (games)

In [13]:
def_userforgenre = items[['user_id','playtime','item_id']]
def_userforgenre = def_userforgenre.merge(games[['item_id','genres','release_year']],on='item_id')
def_userforgenre.drop(def_userforgenre[def_userforgenre['genres'].isnull()].index,inplace=True)
def_userforgenre

,user_id,playtime,item_id,genres,release_year
0,76561197970982479,0.100000,10.0,[Action],2000.0
1,76561197970982479,0.000000,20.0,[Action],1999.0
2,76561197970982479,0.116667,30.0,[Action],2003.0
3,76561197970982479,0.000000,40.0,[Action],2001.0
4,76561197970982479,0.000000,50.0,[Action],1999.0
...,...,...,...,...,...
4233165,76561198329548331,11.283333,304930.0,"[Action, Adventure, Casual, Free to Play, Indie]",2017.0
4233166,76561198329548331,0.716667,227940.0,"[Action, Free to Play, Indie, Massively Multip...",2016.0
4233167,76561198329548331,0.000000,346330.0,"[Action, Adventure, Free to Play, Indie, Early...",2016.0
4233169,76561198329548331,0.050000,388490.0,"[Adventure, Free to Play]",2015.0
4233170,76561198329548331,0.066667,521570.0,"[Casual, Free to Play, Indie]",2016.0

In [14]:
def_userforgenre.isnull().sum()

user_id            0
playtime           0
item_id            0
genres             0
release_year    6587
dtype: int64

### def best_developer_year( año : int )

Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos) <br><br>
Ejemplo de retorno: <br>
[{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]
<br><br>
Columnas necesarias:
- developer (games)
- release_year (games)
- recommend (reviews)
- sentiment_analysis (reviews)
- item_id (reviews, games)

In [15]:
def_best_dev = games[['developer','item_id','release_year']]
def_best_dev = def_best_dev.merge(reviews[['item_id','recommend','sentiment_analysis']],on='item_id')
def_best_dev.drop(def_best_dev[(def_best_dev['developer'].isnull())|(def_best_dev['release_year'].isnull())].index,inplace=True)
def_best_dev

,developer,item_id,release_year,recommend,sentiment_analysis
0,Stainless Games Ltd,282010.0,1997.0,True,1
1,Valve,70.0,1998.0,True,1
2,Valve,70.0,1998.0,True,1
3,Valve,70.0,1998.0,True,1
4,Valve,70.0,1998.0,True,1
...,...,...,...,...,...
53192,Valve,80.0,2004.0,False,1
53193,Valve,80.0,2004.0,True,1
53194,Valve,80.0,2004.0,True,1
53195,Valve,80.0,2004.0,True,1
53196,Valve,80.0,2004.0,True,1

In [16]:
def_best_dev.isnull().sum()

developer             0
item_id               0
release_year          0
recommend             0
sentiment_analysis    0
dtype: int64

### def developer_reviews_analysis( desarrolladora : str )

Según el desarrollador, se devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor positivo o negativo. <br><br>
Ejemplo de retorno: <br>
{'Valve' : [Negative = 182, Positive = 278]}
<br><br>
Columnas necesarias:
- developer (games)
- item_id (games, reviews)
- sentiment_analysis (reviews)

In [17]:
def_dev_rev = games[['developer','item_id']]
def_dev_rev = def_dev_rev.merge(reviews[['item_id','sentiment_analysis']],on='item_id')
def_dev_rev.drop(def_dev_rev[def_dev_rev['developer'].isnull()].index,inplace=True)
def_dev_rev

                 developer   item_id  sentiment_analysis
0      Stainless Games Ltd  282010.0                   1
1                    Valve      70.0                   1
2                    Valve      70.0                   1
3                    Valve      70.0                   1
4                    Valve      70.0                   1
...                    ...       ...                 ...
53192                Valve      80.0                   1
53193                Valve      80.0                   1
53194                Valve      80.0                   1
53195                Valve      80.0                   1
53196                Valve      80.0                   1

[49626 rows x 3 columns]

In [18]:
def_dev_rev.isnull().sum()

developer             0
item_id               0
sentiment_analysis    0
dtype: int64

## Exportar archivos finales

In [19]:
pq.write_table(pa.Table.from_pandas(def_developer),'Archivos API/def_developer.parquet')
pq.write_table(pa.Table.from_pandas(def_userdata),'Archivos API/def_userdata.parquet')
pq.write_table(pa.Table.from_pandas(def_userforgenre),'Archivos API/def_userforgenre.parquet')
pq.write_table(pa.Table.from_pandas(def_best_dev),'Archivos API/def_best_dev.parquet')
pq.write_table(pa.Table.from_pandas(def_dev_rev),'Archivos API/def_dev_rev.parquet')